body {
    background-color: #F2F3F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 0;
    background-color: #1C3040;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar a,.navbar span {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
}

.navbar a:hover {
    background-color: #2B4861;
    border-radius: 5px;
}

div.widget {
    border: #D9DBDA 2px solid;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-radius: 3px;
    background-color: #FFF;
    margin: 1em;
}

h1.widget-title {
    background: #F9FAFC;
    margin: 0;
    padding: 0.5em 0.4em;
    border-bottom: #F4F5F7 1px solid;
}

div.widget-body {
    padding: 0.7em;
}