body {
    background-color: #F2F3F5;
}

div.widget {
    border: #D9DBDA 2px solid;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-radius: 3px;
    background-color: #FFF;
    margin: 1em;
}

h1.widget-title {
    background: #F9FAFC;
    margin: 0;
    padding: 0.5em 0.4em;
    border-bottom: #F4F5F7 1px solid;
}

div.widget-body {
    padding: 0.7em;
}